{% extends "layout.html" %}
{% block tab_title %}Bonus question list{% endblock %}
{% block page_header %}Bonus question list{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <form action="/bonus-questions">
                <label>Filter questions by keywords
                    <input type="text" name="q" id="q" placeholder="Filter by...">
                </label>
                <button type="submit">Filter</button>
            </form>
            <p>
                <table>
                    <tr>
                        <th>
                            <form action="/bonus-questions" method="post">
                                <button type="submit" name="sort" value="title">Title</button>
                            </form>
                        </th>
                        <th>
                            <form action="/bonus-questions" method="post">
                                <button type="submit" name="sort" value="message">Description</button>
                            </form>
                        </th>
                        <th>
                            <form action="/bonus-questions" method="post">
                                <button type="submit" name="sort" value="vote_number">Vote Count</button>
                            </form>
                        </th>
                        <th>
                            <form action="/bonus-questions" method="post">
                                <button type="submit" name="sort" value="view_number">View Number</button>
                            </form>
                        </th>
                    </tr>
                    {% for question in bonus_questions %}
                            <tr>
                                <td>{{ question['title'] }}</td>
                                <td>{{ question['message'] }}</td>
                                <td>{{ question['vote_number'] }}</td>
                                <td>{{ question['view_number'] }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </p>
        </div>
     </div>
    {% include 'footer.html' %}
{%endblock%}
