{% extends "layout.html" %}
    {% block tab_title %}Edit comment{% endblock %}
    {% block page_header %}Edit comment{% endblock %}
    {% block content %}
    <form action="/rewrite_answer_comment/{{ comment_to_edit.id }}" enctype="multipart/form-data" method="POST">
        <input type="hidden" id="edited_count" name="edited_count" value={{ comment_to_edit.edited_count}}>
        <input type="hidden" id="answer_id" name="answer_id" value={{ comment_to_edit.answer_id}}>
        <label for="message">Message:</label><br>
        <textarea id="message" rows="4" cols="50" name="message" required>{{ comment_to_edit.message }}</textarea>
        <br><br>
        <input type="submit" value="Edit Commit">
    </form>
    {% include 'footer.html' %}
{%endblock%}