<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>
<body>
    <h1>Question list</h1>
    <p>
        <a href="/add-question">Add question</a>
    </p>
    <form action="/list">
    <p>Sort by:</p>
    <select name="order_by" id="order_by">
    	<option>Submission time</option>
    	<option>Number of views</option>
    	<option>Number of votes</option>
    	<option>Title</option>
    	<option>Message</option>
    </select>
    <br>
    <select name="order_direction" id="order_direction">
    	<option>ascending</option>
    	<option>descending</option>
    </select><br>
    <button type="submit">Sort</button>
    </form>
    <p>
        <table>
            <tr>
                <th>ID</th>
                <th>Submission time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Vote</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for line in questions %}
                <tr>
                    <td>{{ line['id'] }}</td>
                    <td>{{ line['submission_time'] }}</td>
                    <td>{{ line['view_number'] }}</td>
                    <td>{{ line['vote_number'] }} points</td>
                    <td><a href="/question/{{ line['id'] }}/vote_up">Vote Up</a><br><a href="/question/{{ line['id'] }}/vote_down">Vote Down</a></td>
                    <td><a href="/question/{{ line['id'] }}">{{line['title']}}</a></td>
                    <td  style="width:500px">{{ line['message'] }}</td>
                    <td><img src="{{ line['image'] }}" width="100"></td>
                 </tr>
            {% endfor %}
        </table>
    </p>


</body>
</html>
