{% extends "layout.html" %}
    {% block tab_title %}Login page{% endblock %}
    {% block page_header %}Login page{% endblock %}
    {% block content %}
        <div class="container">
         <div class="input-form">
            <h1>Log in</h1>
             <form action="/login" method="POST" name="login-form">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" placeholder="username" required><br><br>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" placeholder="password" required><br><br>
              <div> {{ login_status | safe  }} </div>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
        <br><br>
    {% include 'footer.html' %}
{%endblock%}