{% extends "layout.html" %}
    {% block tab_title %}Main page{% endblock %}
    {% block page_header %}Main page{% endblock %}
    {% block content %}
            <section class="container">
            {% for line in questions %}
                <div class="card">
                     <div class="grid__container">
                        <p class="card--item item1">{{ line['id'] }}</p>
                        <p class="card--item item2">View number: {{ line['view_number'] }}</p>
                        <p class="card--item item3">Submission time: {{ line['submission_time'] }}</p>
                        <h1 class="card--item item4"><a href="/question/{{ line['id'] }} ">{{line['title']}}</a></h1>
                        <p class="card--item item5"> {{ line['message'] }}</p>
                        <p class="card--item item6"><img src="{{ url_for('static', filename='Image/'~line['image']) if line['image'] }}"</p>
                         <p class="card--item item8">{{ line['vote_number'] }} points</p>
                    </div>
                </div>
            {% endfor %}
    </section>
{%endblock%}