{% extends "layout.html" %}
    {% block tab_title %}Main page{% endblock %}
    {% block page_header %}Main page{% endblock %}
    {% block content %}
        <table>
            <tr>
                <th>ID</th>
                <th>Submission time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for line in questions %}
                <tr>
                    <td>{{ line['id'] }}</td>
                    <td>{{ line['submission_time'] }}</td>
                    <td>{{ line['view_number'] }}</td>
                    <td>{{ line['vote_number'] }} points</td>
                    <td><a href="/question/{{ line['id'] }}">{{line['title']}}</a></td>
                    <td  style="width:500px">{{ line['message'] }}</td>
                    <td><img src="{{ url_for('static', filename='Image/'~line['image']) if line['image'] }}" width="300"></td>
                 </tr>
            {% endfor %}
        </table>

{%endblock%}