{% extends "layout.html" %}
    {% block tab_title %}Main page{% endblock %}
    {% block page_header %}Main page{% endblock %}
    {% block content %}
    <div class="container flex">
         <p>{{ login_status }}</p>
         {% if 'username' in session: %}
             <button class="button" id="test-link" type="button" onclick="location.href='/test'">Go to tests</button>
             <br><br>
             <button class="button" id="logout-button" type="button" onclick="location.href='/logout'">Log out</button>
             <br><br>
             <a href="/list_users" class="list_users">Users</a>
             <br><br>
         {% else %}
             <h1>Do you have an account?</h1>
             <button class="button" id="login-button" type="button" onclick="location.href='/login'">Log in</button>
             <br><br>
             <a href="/register" class="register">Click here to register</a>
         {% endif %}
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Submission time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for line in questions %}
                <tr>
                    <td>{{ line['id'] }}</td>
                    <td>{{ line['submission_time'] }}</td>
                    <td>{{ line['view_number'] }}</td>
                    <td>{{ line['vote_number'] }} points</td>
                    <td><a href="/question/{{ line['id'] }}">{{line['title']}}</a></td>
                    <td  style="width:500px">{{ line['message'] }}</td>
                    <td><img src="{{ url_for('static', filename='Image/'~line['image']) if line['image'] }}" width="300"></td>
                 </tr>
            {% endfor %}
        </table>
    </p>
        <div style="text-align: center; font-size: 40px; font-weight: bold">
            <a href="/list">All questions</a>
        </div>

{%endblock%}