<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>Question</h1>
    <h2>{% if question_to_render['id'] %}<div>{{ question_to_render['title'] }}</div>{% endif %}</h2>
    <p>{% if question_to_render['id'] %}<div>{{ question_to_render['message'] }}</div>{% endif %}</p>
        {% if question_to_render['image'] %}
        <img src="question_to_render['image']" alt="Question_image" width="500" height="600">
        {% endif %}
        {% if answers_to_render %}
        <h2>Answers</h2>
        {% endif %}
        {% for answer in answers_to_render %}
        {% if answer['question_id'] %}<div>{{ answer['message'] }}</div>{% endif %}
        {% endfor %}
    <br>
    <div> <a href="{{route}}"</a>Post new answer</div>
    <br>
    <div> <a href="/list"</a>Back to the main page</div>
    <br>
</body>
</html>