<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>Question</h1>
    <h2>{% if question_to_render['id'] %}<div>{{ question_to_render['title'] }}</div>{% endif %}</h2>
    <p>{% if question_to_render['id'] %}<div>{{ question_to_render['message'] }}</div>{% endif %}</p>
        {% if question_to_render['image'] %}
        <img src="question_to_render['image']" alt="Question_image" width="500" height="600">
        {% endif %}
    <div> <a href="/edit_question/{{ question_to_render['id'] }}">Edit a question</a></div>
    <br>
        {% if answers_to_render %}
        <h2>Answers</h2>
        {% endif %}
        {% for answer in answers_to_render %}
        {% if answer['question_id'] %}<div>{{ answer['message'] }}</div>{% endif %}
        <div> <a href="/delete_answer/{{ answer.id }}>">Delete answer</a></div>



        {% endfor %}

    <br>
    <div> <a href="{{route}}">Post new answer</a></div>
    <br>
    <div> <a href="/list">Back to the main page</a></div>
    <br>
</body>
</html>
