<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>Question</h1>
    {% for question in question_to_render %}
        {% for line in question %}
        <h2>{% if line['id'] %}<div>{{ line['title'] }}</div>{% endif %}</h2>
        <p>{% if line['id'] %}<div>{{ line['message'] }}</div>{% endif %}</p>
            {% if line['image'] %}
            <img src="{{ url_for('static', filename='Image/'~line['image']) }}" alt="Question_image" width="300" >
            {% endif %}
        {% endfor %}
    {% endfor %}
    <br>
        {% if answers_to_render %}
        <h2>Answers</h2>
        {% endif %}
        {% for answer in answers_to_render %}
        <div>
            <table >
                 <tr>
                     <td style="width:350px"> {% if answer['question_id'] %}<div>{{ answer['message'] }}</div> </td>
                     <td style="width:80px">Vote: {{ answer['vote_number'] }}</td>
                     <td> {% if answer['image'] %}
                         <img src="{{ url_for('static', filename='Image/'~answer['image']) }}" alt="image" width="200">
                            {% endif %}
                     </td>
                 </tr>
            </table>
        </div>
        {% endif %}
        {% endfor %}

    <br>
    <div> <a href="/list">Back to the main page</a></div>
    <br>
</body>
</html>