<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    {% for line in question_to_render %}
        <h2>{% if line['id'] %}<div>{{ line['title'] }}</div>{% endif %}</h2>
        <p>{% if line['id'] %}<div>{{ line['message'] }}</div>{% endif %}</p>
            {% if line['image'] %}
            <img src="{{ url_for('static', filename='Image/'~line['image']) }}" alt="Question_image" width="300" >
            {% endif %}

        {% for answer in all_answers %}
        <h2>{% if answer['question_id'] == line['id'] %}<div>{{ answer['message'] }}</div></h2>
        <p>Vote: {{ answer['vote_number'] }}</p>
            {% if answer['image'] %}
             <img src="{{ url_for('static', filename='Image/'~answer['image']) }}" alt="image" width="200">
            {% endif %}
        {% endif %}
        {% endfor %}
    {% endfor %}


    {% for answer in answers_to_render %}
        {% for question in all_question %}
        <h2>{% if answer['question_id'] == question['id'] %}<div>{{ question['title'] }}</div>{% endif %}</h2>
        <p>{% if answer['question_id'] == question['id'] %}<div>{{ question['message'] }}</div>{% endif %}</p>
            {% if answer['question_id'] == question['id'] %}
            <img src="{{ url_for('static', filename='Image/'~question['image']) }}" alt="Question_image" width="300" >
            {% endif %}
            {% endfor %}
        <h2>{% if answer['question_id'] %}<div>{{ answer['message'] }}</div></h2>
        <p>Vote: {{ answer['vote_number'] }}</p>
            {% if answer['image'] %}
             <img src="{{ url_for('static', filename='Image/'~answer['image']) }}" alt="image" width="200">
            {% endif %}
        {% endif %}
    {% endfor %}
    <br>
    <div> <a href="/list">Back to the main page</a></div>
    <br>
</body>
</html>