<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question Vote Up</title>
</head>
<body>
    <h1>Add question</h1><br>
    <form action="/display_question" method="post">
        <label>Title:<br>
            <input type="text" minlength="5" name="title" required>
        </label>
        <br><br>
        <label>Message:<br>
            <textarea rows="4" cols="50" name="message" required></textarea>
        </label>
        <br><br>
        <input type="file" name="image" accept="image/png, image/jpeg">

        <br><br>
        <input type="submit" value="Add new Question">
    </form>
</body>
</html>
